# Required for Gemini LLM extraction.
# Get yours here: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_api_key_here

# APP_MODE options: mock, regex, local, gemini_api
APP_MODE=regex
OLLAMA_MODEL=mistral
OLLAMA_URL=http://ollama:11434
